<div id="<%= dom_id source %>">
  <p>
    <strong>Name:</strong>
    <%= source.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= source.url %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= source.active %>
  </p>

  <p>
    <strong>Show images:</strong>
    <%= source.show_images %>
  </p>

  <p>
    <strong>Last error status:</strong>
    <%= source.last_error_status %>
  </p>

</div>
