<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= article.image_url %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= article.url %>
  </p>

  <p>
    <strong>Preview text:</strong>
    <%= article.preview_text %>
  </p>

</div>
